// Breakpoint Variables

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);

// Unit Variables

// The base unit of the pixel grid in use
$base:          8px;

// Variables for using grid unit multiples in stylesheets

$x0u:           $base * 0.5;
$x1:            $base * 1;
$x1u:           $base * 1.5;
$x2:            $base * 2;
$x2u:           $base * 2.5;
$x3:            $base * 3;
$x3u:           $base * 3.5;
$x4:            $base * 4;
$x4u:           $base * 4.5;
$x5:            $base * 5;
$x5u:           $base * 5.5;
$x6:            $base * 6;
$x6u:           $base * 6.5;
$x7:            $base * 7;
$x7u:           $base * 7.5;
$x8:            $base * 8;
$x8u:           $base * 8.5;
$x9:            $base * 9;
$x9u:           $base * 9.5;
$x10:           $base * 10;
$x10u:          $base * 10.5;
$x11:           $base * 11;
$x11u:          $base * 11.5;
$x12:           $base * 12;
$x12u:          $base * 12.5;
$x13:           $base * 13;
$x13u:          $base * 13.5;
$x14:           $base * 14;
$x14u:          $base * 14.5;
$x15:           $base * 15;
$x15u:          $base * 15.5;
$x16:           $base * 16;
$x16u:          $base * 16.5;
$x17:           $base * 17;
$x17u:          $base * 17.5;
$x18:           $base * 18;
$x18u:          $base * 18.5;
$x19:           $base * 19;
$x19u:          $base * 19.5;
$x20:           $base * 20;
$x20u:          $base * 20.5;
$x21:           $base * 21;
$x21u:          $base * 21.5;
$x22:           $base * 22;
$x22u:          $base * 22.5;
$x23:           $base * 23;
$x23u:          $base * 23.5;
$x24:           $base * 24;
$x24u:          $base * 24.5;
$x25:           $base * 25;
$x25u:          $base * 25.5;
$x26:           $base * 26;
$x26u:          $base * 26.5;
$x27:           $base * 27;
$x27u:          $base * 27.5;
$x28:           $base * 28;
$x28u:          $base * 28.5;
$x29:           $base * 29;
$x29u:          $base * 29.5;
$x30:           $base * 30;
$x30u:          $base * 30.5;
$x31:           $base * 31;
$x31u:          $base * 31.5;
$x32:           $base * 32;
$x32u:          $base * 32.5;
$x33:           $base * 33;
$x33u:          $base * 33.5;
$x34:           $base * 34;
$x34u:          $base * 34.5;
$x35:           $base * 35;
$x35u:          $base * 35.5;
$x36:           $base * 36;
$x36u:          $base * 36.5;
$x37:           $base * 37;
$x37u:          $base * 37.5;
$x38:           $base * 38;
$x38u:          $base * 38.5;
$x39:           $base * 39;
$x39u:          $base * 39.5;
$x40:           $base * 40;
$x40u:          $base * 40.5;
