// Breakpoint Variables

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);

// Unit Variables

// The base unit of the pixel grid in use
$base:          8px;

// Variables for using grid unit multiples in stylesheets

$x0u:           $base * 0.5;
$x1:            $base * 1;
$x1u:           $base * 1.5;
$x2:            $base * 2;
$x2u:           $base * 2.5;
$x3:            $base * 3;
$x3u:           $base * 3.5;
$x4:            $base * 4;
$x4u:           $base * 4.5;
$x5:            $base * 5;
$x5u:           $base * 5.5;
$x6:            $base * 6;
$x6u:           $base * 6.5;
$x7:            $base * 7;
$x7u:           $base * 7.5;
$x8:            $base * 8;
$x8u:           $base * 8.5;
$x9:            $base * 9;
$x10:           $base * 10;
$x11:           $base * 11;
$x12:           $base * 12;
$x13:           $base * 13;
$x14:           $base * 14;
$x15:           $base * 15;
$x16:           $base * 16;
$x17:           $base * 17;
$x18:           $base * 18;
$x19:           $base * 19;
$x20:           $base * 20;
$x21:           $base * 21;
$x22:           $base * 22;
$x23:           $base * 23;
$x24:           $base * 24;
$x25:           $base * 25;
$x26:           $base * 26;
$x27:           $base * 27;
$x28:           $base * 28;
$x29:           $base * 29;
$x30:           $base * 30;
$x31:           $base * 31;
$x32:           $base * 32;
$x33:           $base * 33;
$x34:           $base * 34;
$x35:           $base * 35;
$x36:           $base * 36;
$x37:           $base * 37;
$x38:           $base * 38;
$x39:           $base * 39;
$x40:           $base * 40;
