* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//remove webkit focus glow
textarea, input, button, select { outline: none; }

// remove focus shadow
input[type="date"], input[type="datetimelocal"], input[type="email"], input[type="file"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea {    
    &:focus {
        box-shadow: none !important;
    }
}

// Disable Mobile Safari Auto Zoom
@media screen and (-webkit-min-device-pixel-ratio: 0) { 
  select:focus,
  textarea:focus,
  input:focus {
      font-size: 16px;
  }
  select,
  textarea,
  input {
      font-size: 16px;
  }
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
}

// Remove default margins & padding for predictable spacing using helper classes
h1, h2, h3, h4, h5, p, .h1, .h2, .h3, .h4, .h5, .body, .caption, .small {
    margin: 0;
    padding: 0;
}